
input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}


li {
    margin: 5px 0;
}

#chat p {
    margin: 5px 0;
    font-weight: 200;
    color : white; 
}

#chat article {
    background:#32a1ce;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #1f618d;
    position: relative;
    word-wrap: break-word;
}

a:focus{
    outline: none;   
    color : red;
}

#chat article:last-of-type {
    background:#76d7c4;
    border-left-color: #117864;
    animation: enter .2s 1;
}

#chatbox {
	bottom: 0px;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}

#grid{
	display: table;
  	margin: 0 auto;
}

.celltargetBoard{
	height : 50px;
	width : 50px;
	display : inline-block;
	text-align : center;
	border:1px solid black;
	background-color : grey; 
}


.celltargetBoard:hover {
	background-color : purple; 
}

.cellyourBoard{
	height : 50px;
	width : 50px;
	display : inline-block;
	text-align : center;
	border:1px solid black;
	background-color : grey; 
}

.cellD{
	height : 50px;
	width : 50px;
	display : inline-block;
	text-align : center;
	border:1px solid black;
	background-color : grey; 
}

.cellNoDroppable{
	height : 50px;
	width : 50px;
	display : inline-block;
	text-align : center;
	border:1px solid black;
	background-color : grey; 
}

.boat{
	height : 50px;
	width : 50px;
	display : inline-block;
	text-align : center;
	border:1px solid black;
	background-color : blue; 
}

.placed {
	background-color : green;
}

.idCellHori{
	height : 30px;
	width : 50px;
	background-color : #ebf5fb;
	display : inline-block;
	text-align : center;
	border:1px solid black;
}

.idCellVerti{
	height : 50px;
	width : 30px;
	background-color : #ebf5fb;
	text-align : center;
	border:1px solid black;
}

.row{ 
	height : 50px;
  	margin-left :0px; 
  	margin-right: 0px;
  	
}

.h5{
	text-align : center; 
}

.b{
	color : red; 
}

#chooseBoat{
	margin-left : 5px; 
	margin-right: 5px; 
}

#chooseDirection .p {
	padding : 0px;
	margin : 0px; 
}



