
input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}


li {
    margin: 5px 0;
}

#chat p {
    margin: 5px 0;
    font-weight: 200;
    color : white; 
}

#chat article {
    background:#32a1ce;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #1f618d;
    position: relative;
    word-wrap: break-word;
}

a:focus{
    outline: none;   
    color : red;
}

#chat article:last-of-type {
    background:#76d7c4;
    border-left-color: #117864;
    animation: enter .2s 1;
}

#chatbox {
	bottom: 0px;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}